.git
.gitignore
.idea
*.iml
.classpath
.project
.settings
.DS_Store
src
pom.xml
sonar-project.properties
*.gitlab-ci.yml
README.md
.dockerignore
Dockerfile
target/classes
target/generated-sources
target/generated-test-sources
target/maven-archiver
target/maven-status
target/surefire-reports
target/test-classes
*.md
