# Copy to inventory.ini and set the Jenkins EC2 public IP.
# Get the IP from deploy-vm:
#   terraform -chdir=../deploy-vm output -json public_ips
#
# Example:
#   [jenkins]
#   203.0.113.10 ansible_user=ec2-user ansible_ssh_private_key_file=~/.ssh/id_ed25519

[jenkins]
<jenkins-public-ip> ansible_user=ec2-user ansible_ssh_private_key_file=~/.ssh/id_ed25519
